.sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 5vh 2rem;
  background-color: #111827;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-y: scroll;
  text-align: center;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar h1 {
  background: transparent;
  font-size: 3rem;
  cursor: pointer;
}

.sidebar h1 span {
  color: yellow;
  background: transparent;
}

.sidebar p {
  background-color: #111827;
}
